[Unit]
Description=ActiveMQ service
After=network.target

[Service]
Type=forking
ExecStart=/usr/local/alfresco-community62ga/activemq/bin/activemq start
ExecStop=/usr/local/alfresco-community62ga/activemq/bin/activemq stop
User=alfresco
Group=Alfresco
Restart=always
RestartSec=9
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=activemq

[Install]
WantedBy=multi-user.target
